#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  border: 1px solid rgb(176, 173, 173);
  margin: 15px;
}
/*
.myHero {
  background-image: url("./assets/hero.jpeg");
} */

body {
  background-color: rgb(160, 158, 158);
}
